Application/Servicos/Contratos/GEWSV0006_BancoMock/GEWSV0006_BancoMock.xsd2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	xmlns:Q1="http://site.com.br/bo"
	xmlns:bons0="http://site.com.br/wsv0006/bo"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:bons1="http://site.com.br/wsv0006/bo"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://site.com.br/wsv0006"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://site.com.br/wsv0006/bo">
	<xsd:import schemaLocation="GEWSV0006_Banco.xsd3.xsd" namespace="http://site.com.br/bo"/>
	<xsd:complexType name="GEWSV0006_ListarBancosRetorno">
		<xsd:annotation>
			<xsd:documentation>Objeto de neg&#243;cio contendo os dados de retorno do m&#233;todo listarBancos do servi&#231;o GE0006_Banco.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Q1:MsgRetornoPadrao">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="objBancoArray" type="bons0:GEWSV0006_BancoArray">
						<xsd:annotation>
							<xsd:documentation>Contem lista de bancos pesquisados.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="GEWSV0006_BancoArray">
		<xsd:annotation>
			<xsd:documentation>Objeto que contem lista de bancos.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="objBanco" type="bons0:GEWSV0006_Banco">
				<xsd:annotation>
					<xsd:documentation>Lista de bancos.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GEWSV0006_Banco">
		<xsd:annotation>
			<xsd:documentation>Objeto que cont&#233;m informa&#231;&#245;es de banco.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element minOccurs="1" name="codBanco" type="xsd:short">
				<xsd:annotation>
					<xsd:documentation>C&#243;digo do banco financeiro, c&#243;digo oficial Bacen.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="1" name="nomBanco" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Nome do Banco.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GEWSV0006_ListarBancosEntrada">
		<xsd:annotation>
			<xsd:documentation>Objeto de neg&#243;cio contendo os dados de entrada para o m&#233;todo listarBancos do servi&#231;o GE0006_Banco.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Q1:MsgEntradaPadrao">
				<xsd:sequence>
					<xsd:element minOccurs="1" name="codUsuario" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>C&#243;digo do usu&#225;rio de servi&#231;o.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element minOccurs="1" name="codOperacao" type="xsd:short">
						<xsd:annotation>
							<xsd:documentation>C&#243;digo da opera&#231;&#227;o do servi&#231;o.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>