Api.Soap/Servicos/Contratos/SXWSV0030_ContratoSistema/SXWSV0030_ContratoSistema.xsd8.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:bons0="http://ge.site.com.br/EntradaPadrao/v1" xmlns:bons1="http://sx.site.com.br/SXWSV0030_ListarBeneficiariosDeclaradosEntrada/v1" xmlns:bons2="http://sx.site.com.br/SXWSV0030_ListarBeneficiariosDeclaradosRetorno/v1" xmlns:bons3="http://sx.site.com.br/SXWSV0030_ValidarExistenciaSinistroEntrada/v1" xmlns:bons4="http://sx.site.com.br/SXWSV0030_ValidarExistenciaSinistroRetorno/v1" xmlns:bons5="http://sx.site.com.br/SXWSV0030_DetalharContratoPrestamistaRetorno/v1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sx.site.com.br/SXWSV0030_ContratoSistema/v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://sx.site.com.br/SXWSV0030_ListarBeneficiariosDeclaradosEntrada/v1">

<xsd:import schemaLocation="SXWSV0030_ContratoSistema.xsd5.xsd" namespace="http://ge.site.com.br/EntradaPadrao/v1"/>
    
<xsd:complexType name="SXWSV0030_ListarBeneficiariosDeclaradosEntrada">
		
<xsd:complexContent>
			
<xsd:extension base="bons0:MsgEntradaPadrao">
				
<xsd:sequence>
					
<xsd:element minOccurs="0" name="numApolice" type="xsd:long">
						
<xsd:annotation>
							
<xsd:documentation>
								N&#250;mero da Apolice.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					
<xsd:element minOccurs="0" name="numContratoTerceiro" type="xsd:long">
						
<xsd:annotation>
							
<xsd:documentation>
								N&#250;mero do Contrato de Terceiro.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>

			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
    </xsd:schema>