Api.Soap/Servicos/Contratos/SXWSV0030_ContratoSistema/SXWSV0030_ContratoSistema.xsd6.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:bons1="http://sx.site.com.br/SXWSV0030_ListarBeneficiariosDeclaradosEntrada/v1" xmlns:bons2="http://sx.site.com.br/SXWSV0030_ListarBeneficiariosDeclaradosRetorno/v1" xmlns:bons3="http://sx.site.com.br/SXWSV0030_ValidarExistenciaSinistroEntrada/v1" xmlns:bons4="http://sx.site.com.br/SXWSV0030_ValidarExistenciaSinistroRetorno/v1" xmlns:bons5="http://sx.site.com.br/SXWSV0030_DetalharContratoPrestamistaRetorno/v1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sx.site.com.br/SXWSV0030_ContratoSistema/v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://ge.site.com.br/RetornoPadrao/v1">
    
<xsd:complexType name="MsgRetornoPadrao">
		
<xsd:sequence>
			
<xsd:element minOccurs="0" name="codRetorno" type="xsd:string">
				
<xsd:annotation/>
			</xsd:element>
			
<xsd:element minOccurs="0" name="desMensagemSistema" type="xsd:string">
				
<xsd:annotation/>
			</xsd:element>
			
<xsd:element minOccurs="0" name="desMensagemAmigavel" type="xsd:string">
				
<xsd:annotation/>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
    </xsd:schema>