Application/Servicos/Contratos/MRWSV0004_PreAvisoSinistro/MRWSV0004_PreAvisoSinistro.xsd1.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:Q1="http://ge.site.com.br/bo" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:ns1="http://ge.site.com.br/bo" xmlns:bons1="http://mr.site.com.br/wsv0004/bo" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://mr.site.com.br/wsv0004" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://mr.site.com.br/wsv0004">
            
<xsd:import schemaLocation="MRWSV0004_PreAvisoSinistro.xsd2.xsd" namespace="http://mr.site.com.br/wsv0004/bo"/>
            
<xsd:import schemaLocation="MRWSV0004_PreAvisoSinistro.xsd3.xsd" namespace="http://ge.site.com.br/bo"/>
    
<xsd:element ibmSchExtn:docRoot="true" name="incluirPreAvisoSinistroResponse">
    
<xsd:complexType>
      
<xsd:sequence>
        
<xsd:element name="retorno" nillable="true" type="tns:MRWSV0004_IncluirPreAvisoSinistroRetorno"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
      
<xsd:element ibmSchExtn:docRoot="true" name="incluirPreAvisoHabitacionalResponse">
    
<xsd:complexType>
      
<xsd:sequence>
        
<xsd:element name="retorno" nillable="true" type="bons1:MRWSV0004_IncluirPreAvisoHabitacionalRetorno">
          
<xsd:annotation>
            
<xsd:documentation>Objeto de retorno do m&#233;todo
							incluirPreAvisoHabitacional</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
      
<xsd:element ibmSchExtn:docRoot="true" name="listarPreAvisoSinistroResponse">
    
<xsd:complexType>
      
<xsd:sequence>
        
<xsd:element name="retorno" nillable="true" type="bons1:MRWSV0004_ListarPreAvisoRetorno">
          
<xsd:annotation>
            
<xsd:documentation>Objeto de retorno do m&#233;todo
							listarPreAvisoSinistro</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
      
<xsd:complexType name="MRWSV0004_IncluirPreAvisoSinistroEntrada">
    
<xsd:complexContent>
      
<xsd:extension base="Q1:MsgEntradaPadrao">
        
<xsd:sequence>
          
<xsd:element minOccurs="0" name="codUsuario" type="xsd:string"/>
          
<xsd:element minOccurs="0" name="codEstipulante" type="xsd:int"/>
          
<xsd:element minOccurs="0" name="numContrato" type="xsd:decimal"/>
          
<xsd:element minOccurs="0" name="dthOcorrencia" type="xsd:date"/>
          
<xsd:element minOccurs="0" name="dthComunicado" type="xsd:date"/>
          
<xsd:element minOccurs="0" name="numRamoEmissor" type="xsd:int"/>
          
<xsd:element minOccurs="0" name="codNatureza" type="xsd:int"/>
          
<xsd:element minOccurs="0" name="codCausa" type="xsd:int"/>
          
<xsd:element minOccurs="0" name="indTipoSinistro" type="xsd:string"/>
          
<xsd:element minOccurs="0" name="indTipoImovel" type="xsd:string"/>
          
<xsd:element minOccurs="0" name="numCpfCnpj" type="xsd:decimal"/>
          
<xsd:element minOccurs="0" name="dthNascimento" type="xsd:date"/>
          
<xsd:element minOccurs="0" name="codFilial" type="xsd:int"/>
          
<xsd:element minOccurs="0" name="codAgencia" type="xsd:int"/>
          
<xsd:element minOccurs="0" name="indCadastraNovo" type="xsd:string"/>
          
<xsd:element minOccurs="0" name="codProduto" type="xsd:int"/>
          
<xsd:element minOccurs="0" name="codAgenRel" type="xsd:int"/>
          
<xsd:element minOccurs="0" name="desEmailAgenRel" type="xsd:string"/>
          
<xsd:element minOccurs="0" name="numValorIndenizacao" type="xsd:decimal"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
      
<xsd:element ibmSchExtn:docRoot="true" name="incluirPreAvisoPrestamista">
    
<xsd:complexType>
      
<xsd:sequence>
        
<xsd:element name="dadosEntrada" nillable="true" type="bons1:MRWSV0004_IncluirPreAvisoPrestamistaEntrada"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
      
<xsd:complexType name="MRWSV0004_IncluirPreAvisoSinistroRetorno">
    
<xsd:complexContent>
      
<xsd:extension base="Q1:MsgRetornoPadrao">
        
<xsd:sequence>
          
<xsd:element minOccurs="0" name="codFonte" type="xsd:short"/>
          
<xsd:element minOccurs="0" name="numProtocoloSini" type="xsd:int"/>
          
<xsd:element minOccurs="0" name="numDacProtocoloSini" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
      
<xsd:element ibmSchExtn:docRoot="true" name="incluirPreAvisoPrestamistaResponse">
    
<xsd:complexType>
      
<xsd:sequence>
        
<xsd:element name="retorno" nillable="true" type="bons1:MRWSV0004_IncluirPreAvisoPrestamistaRetorno"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
      
<xsd:element ibmSchExtn:docRoot="true" name="incluirPreAvisoHabitacional">
    
<xsd:complexType>
      
<xsd:sequence>
        
<xsd:element name="dadosEntrada" nillable="true" type="bons1:MRWSV0004_IncluirPreAvisoHabitacionalEntrada">
          
<xsd:annotation>
            
<xsd:documentation>Objeto de entrada do m&#233;todo
							incluirPreAvisoHabitacional</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
      
<xsd:element ibmSchExtn:docRoot="true" name="alterarResponsavelSinistro">
    
<xsd:complexType>
      
<xsd:sequence>
        
<xsd:element name="dadosEntrada" nillable="true" type="bons1:MRWSV0004_AlterarResponsavelSinistroEntrada"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
      
<xsd:element ibmSchExtn:docRoot="true" name="incluirPreAvisoSinistro">
    
<xsd:complexType>
      
<xsd:sequence>
        
<xsd:element name="dadosEntrada" nillable="true" type="tns:MRWSV0004_IncluirPreAvisoSinistroEntrada"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
      
<xsd:element ibmSchExtn:docRoot="true" name="alterarResponsavelSinistroResponse">
    
<xsd:complexType>
      
<xsd:sequence>
        
<xsd:element name="retorno" nillable="true" type="bons1:MRWSV0004_AlterarResponsavelSinistroRetorno"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
      
<xsd:element ibmSchExtn:docRoot="true" name="listarPreAvisoSinistro">
    
<xsd:complexType>
      
<xsd:sequence>
        
<xsd:element name="dadosEntrada" nillable="true" type="bons1:MRWSV0004_ListarPreAvisoEntrada">
          
<xsd:annotation>
            
<xsd:documentation>Objeto de entrada do m&#233;todo
							listarPreAvisoSinistro</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
    </xsd:schema>