Application/Servicos/Contratos/MRWSV0004_PreAvisoSinistro/MRWSV0004_PreAvisoSinistro.xsd2.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:Q1="http://ge.site.com.br/bo" xmlns:bons0="http://mr.site.com.br/wsv0004/bo" xmlns:bons01="http://ge.site.com.br/bo" xmlns:bons02="http://ge.site.com.br/bo" xmlns:bons03="http://ge.site.com.br/bo" xmlns:bons1="http://mr.site.com.br/wsv0004/bo" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://mr.site.com.br/wsv0004" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://mr.site.com.br/wsv0004/bo">
            
<xsd:import schemaLocation="MRWSV0004_PreAvisoSinistro.xsd3.xsd" namespace="http://ge.site.com.br/bo"/>
    
<xsd:complexType name="MRWSV0004_ListarPreAvisoEntrada">
    
<xsd:annotation>
      
<xsd:documentation>Objeto de entrada do m&#233;todo listarPreAvisoSinistro</xsd:documentation>
    </xsd:annotation>
    
<xsd:complexContent>
      
<xsd:extension base="Q1:MsgEntradaPadrao">
        
<xsd:sequence>
          
<xsd:element minOccurs="0" name="numEstipulante" type="xsd:int">
            
<xsd:annotation>
              
<xsd:documentation>N&#250;mero do estipulante do contrato</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          
<xsd:element minOccurs="0" name="numContrato" type="xsd:decimal">
            
<xsd:annotation>
              
<xsd:documentation>N&#250;mero do contrato de seguro</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          
<xsd:element minOccurs="0" name="codProduto" type="xsd:short">
            
<xsd:annotation>
              
<xsd:documentation>C&#243;digo do produto</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          
<xsd:element minOccurs="0" name="codFonte" type="xsd:short">
            
<xsd:annotation>
              
<xsd:documentation>C&#243;digo da fonte do protocolo de sinistro</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          
<xsd:element minOccurs="0" name="numProtocoloSini" type="xsd:int">
            
<xsd:annotation>
              
<xsd:documentation>N&#250;mero do protocolo de sinistro</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          
<xsd:element minOccurs="0" name="numDacProtocoloSini" type="xsd:string">
            
<xsd:annotation>
              
<xsd:documentation>DAC do protocolo de sinistro</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
      
<xsd:complexType name="MRWSV0004_Sinistro">
    
<xsd:annotation>
      
<xsd:documentation>Objeto contendo atributos do sinistro</xsd:documentation>
    </xsd:annotation>
    
<xsd:sequence>
      
<xsd:element minOccurs="0" name="codEstipulante" type="xsd:int">
        
<xsd:annotation>
          
<xsd:documentation>C&#243;digo do estipulante do contrato</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      
<xsd:element minOccurs="0" name="numContrato" type="xsd:decimal">
        
<xsd:annotation>
          
<xsd:documentation>N&#250;mero do contrato</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      
<xsd:element minOccurs="0" name="codProduto" type="xsd:short">
        
<xsd:annotation>
          
<xsd:documentation>C&#243;digo do produto</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      
<xsd:element minOccurs="0" name="numFonte" type="xsd:short">
        
<xsd:annotation>
          
<xsd:documentation>N&#250;mero da fonte</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      
<xsd:element minOccurs="0" name="numProtocolo" type="xsd:int">
        
<xsd:annotation>
          
<xsd:documentation>N&#250;mero do protocolo de sinistro</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      
<xsd:element minOccurs="0" name="numDACProtocolo" type="xsd:string">
        
<xsd:annotation>
          
<xsd:documentation>DAC protocolo sinistro</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      
<xsd:element minOccurs="0" name="codNatureza" type="xsd:short">
        
<xsd:annotation>
          
<xsd:documentation>C&#243;digo da natureza do sinistro</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      
<xsd:element minOccurs="0" name="desNatureza" type="xsd:string">
        
<xsd:annotation>
          
<xsd:documentation>Descri&#231;&#227;o da natureza do sinistro</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      
<xsd:element minOccurs="0" name="codCausa" type="xsd:short">
        
<xsd:annotation>
          
<xsd:documentation>C&#243;digo da causa do sinistro</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      
<xsd:element minOccurs="0" name="desCausa" type="xsd:string">
        
<xsd:annotation>
          
<xsd:documentation>Descri&#231;&#227;o da causa do sinistro</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      
<xsd:element minOccurs="0" name="dthOcorrencia" type="xsd:date">
        
<xsd:annotation>
          
<xsd:documentation>Data da ocorr&#234;ncia do sinstro</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      
<xsd:element minOccurs="0" name="dthComunicado" type="xsd:date">
        
<xsd:annotation>
          
<xsd:documentation>Data da comunica&#231;&#227;o do sinistro</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      
<xsd:element minOccurs="0" name="nomSegurado" type="xsd:string">
        
<xsd:annotation>
          
<xsd:documentation>Nome do segurado</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      
<xsd:element minOccurs="0" name="codSituacao" type="xsd:string">
        
<xsd:annotation>
          
<xsd:documentation>C&#243;digo da situa&#231;&#227;o do sinistro</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      
<xsd:element minOccurs="0" name="numCPF" type="xsd:decimal">
        
<xsd:annotation>
          
<xsd:documentation>N&#250;mero do CPF do segurado</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      
<xsd:element minOccurs="0" name="desProduto" type="xsd:string">
        
<xsd:annotation>
          
<xsd:documentation>Descri&#231;&#227;o do produto</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
      
<xsd:complexType name="MRWSV0004_ListarPreAvisoRetorno">
    
<xsd:annotation>
      
<xsd:documentation>Objeto de entrada do m&#233;todo listarPreAvisoSinistro</xsd:documentation>
    </xsd:annotation>
    
<xsd:complexContent>
      
<xsd:extension base="Q1:MsgRetornoPadrao">
        
<xsd:sequence>
          
<xsd:element minOccurs="0" name="objSinistroArray" type="bons0:MRWSV0004_SinistroArray">
            
<xsd:annotation>
              
<xsd:documentation>Objeto contendo atributos de retorno do sinistro</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
      
<xsd:complexType name="MRWSV0004_IncluirPreAvisoPrestamistaRetorno">
    
<xsd:annotation>
      
<xsd:documentation>Objeto de retorno do m&#233;todo incluirPreAvisoPrestamista</xsd:documentation>
    </xsd:annotation>
    
<xsd:complexContent>
      
<xsd:extension base="Q1:MsgRetornoPadrao">
        
<xsd:sequence>
          
<xsd:element minOccurs="0" name="numProtocoloSini" type="xsd:integer">
            
<xsd:annotation>
              
<xsd:documentation>N&#250;mero do protocolo do  sinistro</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          
<xsd:element minOccurs="0" name="numDacProtocoloSini" type="xsd:string">
            
<xsd:annotation>
              
<xsd:documentation>N&#250;mero DAC do protocolo de sinistro</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
      
<xsd:complexType name="MRWSV0004_IncluirPreAvisoHabitacionalRetorno">
    
<xsd:annotation>
      
<xsd:documentation>Objeto de retorno do m&#233;todo incluirPreAvisoHabitacional</xsd:documentation>
    </xsd:annotation>
    
<xsd:complexContent>
      
<xsd:extension base="Q1:MsgRetornoPadrao">
        
<xsd:sequence>
          
<xsd:element minOccurs="0" name="codFonte" type="xsd:short">
            
<xsd:annotation>
              
<xsd:documentation>C&#243;digo da fonte</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          
<xsd:element minOccurs="0" name="numProtocoloSini" type="xsd:int">
            
<xsd:annotation>
              
<xsd:documentation>N&#250;mero do protocolo de sinistro</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          
<xsd:element minOccurs="0" name="numDacProtocoloSini" type="xsd:short">
            
<xsd:annotation>
              
<xsd:documentation>DAC do protocolo de sinistro</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
      
<xsd:complexType name="MRWSV0004_AlterarResponsavelSinistroRetorno">
    
<xsd:complexContent>
      
<xsd:extension base="Q1:MsgRetornoPadrao">
        
<xsd:sequence/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
      
<xsd:complexType name="MRWSV0004_IncluirPreAvisoPrestamistaEntrada">
    
<xsd:annotation>
      
<xsd:documentation>Objeto de entrada do m&#233;todo incluirPreAvisoPrestamista</xsd:documentation>
    </xsd:annotation>
    
<xsd:complexContent>
      
<xsd:extension base="Q1:MsgEntradaPadrao">
        
<xsd:sequence>
          
<xsd:element minOccurs="0" name="codUsuario" type="xsd:string">
            
<xsd:annotation>
              
<xsd:documentation>C&#243;digo do usu&#225;rio</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          
<xsd:element minOccurs="0" name="numApolice" type="xsd:decimal">
            
<xsd:annotation>
              
<xsd:documentation>N&#250;mero da ap&#243;lice</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          
<xsd:element minOccurs="0" name="codSubGrupo" type="xsd:integer">
            
<xsd:annotation>
              
<xsd:documentation>C&#243;digo do sub grupo</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          
<xsd:element minOccurs="0" name="numCertificado" type="xsd:decimal">
            
<xsd:annotation>
              
<xsd:documentation>N&#250;mero do certificado</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          
<xsd:element minOccurs="0" name="codFonte" type="xsd:integer">
            
<xsd:annotation>
              
<xsd:documentation>C&#243;digo fonte</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
      
<xsd:complexType name="MRWSV0004_SinistroArray">
    
<xsd:sequence>
      
<xsd:element maxOccurs="unbounded" minOccurs="0" name="objSinistro" type="bons0:MRWSV0004_Sinistro">
        
<xsd:annotation>
          
<xsd:documentation>Objeto contendo atributos do sinistro</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
      
<xsd:complexType name="MRWSV0004_IncluirPreAvisoHabitacionalEntrada">
    
<xsd:annotation>
      
<xsd:documentation>Objeto de entrada do m&#233;todo incluirPreAvisoHabitacional</xsd:documentation>
    </xsd:annotation>
    
<xsd:complexContent>
      
<xsd:extension base="Q1:MsgEntradaPadrao">
        
<xsd:sequence>
          
<xsd:element minOccurs="1" name="codUsuario">
            
<xsd:annotation>
              
<xsd:documentation>C&#243;digo do usu&#225;rio no sistena SIAS</xsd:documentation>
            </xsd:annotation>
            
<xsd:simpleType>
              
<xsd:restriction base="xsd:string">
                
<xsd:maxLength value="8"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          
<xsd:element minOccurs="1" name="codEstipulante" type="xsd:decimal">
            
<xsd:annotation>
              
<xsd:documentation>C&#243;digo &#250;nico de pessoa</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          
<xsd:element minOccurs="1" name="numContrato" type="xsd:decimal">
            
<xsd:annotation>
              
<xsd:documentation>N&#250;mero do contrato de financiamento</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          
<xsd:element minOccurs="1" name="dthOcorrencia" type="xsd:date">
            
<xsd:annotation>
              
<xsd:documentation>Data da ocorr&#234;ncia do sinistro</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          
<xsd:element minOccurs="1" name="dthComunicado" type="xsd:date">
            
<xsd:annotation>
              
<xsd:documentation>Data do comunicado do sinistro</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          
<xsd:element minOccurs="1" name="numRamoEmissor" type="xsd:short">
            
<xsd:annotation>
              
<xsd:documentation>N&#250;mero do ramo emissor do contrato</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          
<xsd:element minOccurs="1" name="codNatureza">
            
<xsd:annotation>
              
<xsd:documentation>C&#243;digo da natureza do sinistro

1 &#8211; MIP
2 &#8211; DFI
3 &#8211; Inadimpl&#234;ncia</xsd:documentation>
            </xsd:annotation>
            
<xsd:simpleType>
              
<xsd:restriction base="xsd:short">
                
<xsd:enumeration value="1"/>
                
<xsd:enumeration value="2"/>
                
<xsd:enumeration value="3"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          
<xsd:element minOccurs="1" name="codCausa" type="xsd:short">
            
<xsd:annotation>
              
<xsd:documentation>C&#243;digo da causa do sinistro</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          
<xsd:element minOccurs="1" name="indTipoSinistro" type="xsd:string">
            
<xsd:annotation>
              
<xsd:documentation>Indicador do tipo de sinistro</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          
<xsd:element minOccurs="1" name="indTipoImovel">
            
<xsd:annotation>
              
<xsd:documentation>Indicador do tipo de im&#243;vel

1 - Residencial 
2 - Comercial
3 - Terreno
8 - Sem destina&#231;&#227;o espec&#237;fica</xsd:documentation>
            </xsd:annotation>
            
<xsd:simpleType>
              
<xsd:restriction base="xsd:string">
                
<xsd:enumeration value="1"/>
                
<xsd:enumeration value="2"/>
                
<xsd:enumeration value="3"/>
                
<xsd:enumeration value="8"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          
<xsd:element minOccurs="1" name="numCpfCnpj" type="xsd:decimal">
            
<xsd:annotation>
              
<xsd:documentation>N&#250;mero do CPF ou CNPJ</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          
<xsd:element minOccurs="1" name="dthNascimento" type="xsd:date">
            
<xsd:annotation>
              
<xsd:documentation>Data de nascimento do segurado</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          
<xsd:element minOccurs="1" name="codFilial" type="xsd:short">
            
<xsd:annotation>
              
<xsd:documentation>C&#243;digo da filial da CAIXA para pagamento do sinistro</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          
<xsd:element minOccurs="1" name="codAgenciaCEF" type="xsd:short">
            
<xsd:annotation>
              
<xsd:documentation>C&#243;digo da ag&#234;ncia da CAIXA para pagamento do sinistro</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          
<xsd:element minOccurs="0" name="indCadastraNovo">
            
<xsd:annotation>
              
<xsd:documentation>Indicador para cadastrar novo pr&#233;-aviso

S &#8211; Sim
N &#8211; N&#227;o</xsd:documentation>
            </xsd:annotation>
            
<xsd:simpleType>
              
<xsd:restriction base="xsd:string">
                
<xsd:enumeration value="S"/>
                
<xsd:enumeration value="N"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          
<xsd:element minOccurs="0" name="codProduto" type="xsd:short">
            
<xsd:annotation>
              
<xsd:documentation>C&#243;digo do produto</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          
<xsd:element minOccurs="0" name="codAgenRel" type="xsd:short">
            
<xsd:annotation>
              
<xsd:documentation>C&#243;digo da ag&#234;ncia de relacionamento</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          
<xsd:element minOccurs="0" name="desEmailAgenRel" type="xsd:string">
            
<xsd:annotation>
              
<xsd:documentation>Email da ag&#234;ncia de relacionamento</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
      
<xsd:complexType name="MRWSV0004_AlterarResponsavelSinistroEntrada">
    
<xsd:complexContent>
      
<xsd:extension base="Q1:MsgEntradaPadrao">
        
<xsd:sequence>
          
<xsd:element maxOccurs="1" minOccurs="0" name="codUsuario" type="xsd:string">
            
<xsd:annotation>
              
<xsd:documentation>C&#243;digo do usu&#225;rio logado</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          
<xsd:element maxOccurs="1" minOccurs="0" name="codUsuarioResponsavel" type="xsd:string">
            
<xsd:annotation>
              
<xsd:documentation>C&#243;digo do usu&#225;rio respons&#225;vel</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          
<xsd:element maxOccurs="1" minOccurs="0" name="codFonte" type="xsd:integer">
            
<xsd:annotation>
              
<xsd:documentation>C&#243;digo fonte do protocolo do sinistro</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          
<xsd:element maxOccurs="1" minOccurs="0" name="numProtocoloSini" type="xsd:integer">
            
<xsd:annotation>
              
<xsd:documentation>N&#250;mero do protocolo do sinistro</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          
<xsd:element maxOccurs="1" minOccurs="0" name="numDacProtocoloSini" type="xsd:string">
            
<xsd:annotation>
              
<xsd:documentation>Digito do protocolo do sinistro</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
    </xsd:schema>