Api.Soap/Servicos/Contratos/GEWSV0006_Banco/GEWSV0006_Banco.xsd1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:bons1="http://ge.caixaseguros.com.br/wsv0006/bo"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://ge.caixaseguros.com.br/wsv0006"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ge.caixaseguros.com.br/wsv0006">
	<xsd:import schemaLocation="GEWSV0006_Banco.xsd2.xsd" namespace="http://ge.caixaseguros.com.br/wsv0006/bo"/>
	<xsd:element name="listarBancos">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="dadosEntrada" nillable="true" type="bons1:GEWSV0006_ListarBancosEntrada">
					<xsd:annotation>
						<xsd:documentation>Cont&#233;m as informa&#231;&#245;es dos dados de entrada para o m&#233;todo listarBancos do servi&#231;o GE0006_Banco.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="listarBancosResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="retorno" nillable="true" type="bons1:GEWSV0006_ListarBancosRetorno">
					<xsd:annotation>
						<xsd:documentation>Cont&#233;m as informa&#231;&#245;es dos dados de retorno do m&#233;todo listarBancos do servi&#231;o GE0006_Banco.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>