Application/Servicos/Contratos/SXWSV0030_ContratoSistema/SXWSV0030_ContratoSistema.xsd15.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:this="http://sx.site.com.br/Dominio/v1" xmlns:bons1="http://sx.site.com.br/SXWSV0030_ListarBeneficiariosDeclaradosEntrada/v1" xmlns:bons2="http://sx.site.com.br/SXWSV0030_ListarBeneficiariosDeclaradosRetorno/v1" xmlns:bons3="http://sx.site.com.br/SXWSV0030_ValidarExistenciaSinistroEntrada/v1" xmlns:bons4="http://sx.site.com.br/SXWSV0030_ValidarExistenciaSinistroRetorno/v1" xmlns:bons5="http://sx.site.com.br/SXWSV0030_DetalharContratoPrestamistaRetorno/v1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sx.site.com.br/SXWSV0030_ContratoSistema/v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://sx.site.com.br/Dominio/v1">
      
<xsd:complexType name="Status">
		
<xsd:annotation>
			
<xsd:documentation>
				Objeto respons&#225;vel por representar uma sisuta&#231;&#227;o.
			</xsd:documentation>
		</xsd:annotation>
		
<xsd:sequence>
			
<xsd:element name="codStatus" type="xsd:string">
				
<xsd:annotation>
					
<xsd:documentation>
						C&#243;digo dos tatus
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
<xsd:element name="desStatus" type="xsd:string">
				
<xsd:annotation>
					
<xsd:documentation>
						Descri&#231;&#227;o dos status
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
    </xsd:schema>