Application/Servicos/Contratos/SXWSV0030_ContratoSistema/SXWSV0030_ContratoSistema.xsd9.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:this="http://sx.site.com.br/Estipulante/v1" xmlns:bons1="http://sx.site.com.br/SXWSV0030_ListarBeneficiariosDeclaradosEntrada/v1" xmlns:bons2="http://sx.site.com.br/SXWSV0030_ListarBeneficiariosDeclaradosRetorno/v1" xmlns:bons3="http://sx.site.com.br/SXWSV0030_ValidarExistenciaSinistroEntrada/v1" xmlns:bons4="http://sx.site.com.br/SXWSV0030_ValidarExistenciaSinistroRetorno/v1" xmlns:bons5="http://sx.site.com.br/SXWSV0030_DetalharContratoPrestamistaRetorno/v1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sx.site.com.br/SXWSV0030_ContratoSistema/v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://sx.site.com.br/Estipulante/v1">
      
<xsd:complexType name="Estipulante">
		
<xsd:sequence>
			
<xsd:element maxOccurs="1" minOccurs="0" name="codPessoaEsti" type="xsd:integer">
				
<xsd:annotation>
					
<xsd:documentation>
						N&#250;mero identificador da pessoa Estipulante.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
<xsd:element maxOccurs="1" minOccurs="0" name="nomRazaoSocialEsti" type="xsd:string">
				
<xsd:annotation>
					
<xsd:documentation>
						Nome identificador da pessoa Estipulante.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
<xsd:element maxOccurs="1" minOccurs="0" name="codPesSubEsti" type="xsd:integer">
				
<xsd:annotation>
					
<xsd:documentation>
						N&#250;mero identificador da pessoa SubEstipulante.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
<xsd:element maxOccurs="1" minOccurs="0" name="nomRazaoSocialSubEsti" type="xsd:string">
				
<xsd:annotation>
					
<xsd:documentation>
						Nome identificador da pessoa SubEstipulante.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
<xsd:element maxOccurs="1" minOccurs="0" name="desEmailEsti" type="xsd:string">
				
<xsd:annotation>
					
<xsd:documentation>
						Nome do email do estipulante do contrato
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
    </xsd:schema>